{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1 class="p-5">{{ post.title }}</h1>
    <hr>
    <div class="min-h-screen flex justify-center">
        <div class="p-5 my-3 bg-white shadow-gray-300 shadow-sm w-screen">
        <p class="text-right text-sm sm:text-lg">برای بروزرسانی این صفحه از فرم زیر استفاده کنید</p>
        <form method="post" enctype="multipart/form-data" class=" grid grid-cols-1">
            {% csrf_token %}
            <div class="mb-3">
                <label class="mt-3 block text-sm font-medium text-gray-900 text-right" for="id_title">عنوان پست</label>
            </div>
            <div class="mb-3">
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label class="mt-3 block text-sm font-medium text-gray-900 text-right" for="id_content">متن پست</label>
            </div>
            {{ form.content }}

            <div class="mb-3">
                <label class="mt-2 mb-3 block text-sm font-medium text-gray-900 text-right" for="id_photo">رسانه پست</label>
            </div>
            <div class="mb-3">
                {{ form.media }}
            </div>

            <div class="row g-3">
                <div class="col-auto">
                    <input type="submit" class="btn btn-primary" name="update_bot" value="ذخیره">
                </div>
                <div class="col-auto">
                  <a href="{% url 'bot:posts' %}" class="btn btn-outline-danger">انصراف</a>
                </div>
            </div>
        </form>
        </div>
    </div>

{% endblock %}

